<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name=Title content="Informed Consent for Participants">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="Consent-Form_files/filelist.xml">
<title>Informed Consent for Participants</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>IBM_USER</o:Author>
  <o:LastAuthor>Palani Eswaran</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>1</o:TotalTime>
  <o:Created>2014-05-27T18:14:00Z</o:Created>
  <o:LastSaved>2014-05-27T18:14:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>347</o:Words>
  <o:Characters>1978</o:Characters>
  <o:Company>IBM</o:Company>
  <o:Lines>16</o:Lines>
  <o:Paragraphs>4</o:Paragraphs>
  <o:CharactersWithSpaces>2321</o:CharactersWithSpaces>
  <o:Version>14.0</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  <o:TargetScreenSize>800x600</o:TargetScreenSize>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="Consent-Form_files/themedata.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:DontDisplayPageBoundaries/>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves>false</w:TrackMoves>
  <w:TrackFormatting/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>JA</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:UseWord2002TableStyleRules/>
   <w:DontUseIndentAsNumberingTabStop/>
   <w:FELineBreak11/>
   <w:WW11IndentRules/>
   <w:DontAutofitConstrainedTables/>
   <w:AutofitLikeWW11/>
   <w:HangulWidthLikeWW11/>
   <w:UseNormalStyleForList/>
   <w:DontVertAlignCellWithSp/>
   <w:DontBreakConstrainedForcedTables/>
   <w:DontVertAlignInTxbx/>
   <w:Word11KerningPairs/>
   <w:CachedColBalance/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="0" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="0" Name="No List"/>
  <w:LsdException Locked="false" Priority="39" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Note Level 1"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Note Level 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Note Level 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Note Level 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Note Level 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Note Level 6"/>
  <w:LsdException Locked="false" Priority="64" Name="Note Level 7"/>
  <w:LsdException Locked="false" Priority="65" Name="Note Level 8"/>
  <w:LsdException Locked="false" Priority="66" Name="Note Level 9"/>
  <w:LsdException Locked="false" Priority="67" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="68" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="71" Name="Revision"/>
  <w:LsdException Locked="false" Priority="72" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="73" Name="Quote"/>
  <w:LsdException Locked="false" Priority="60" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="66" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="67" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="68" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="60" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="66" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="67" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="68" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="60" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="66" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="67" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="68" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="60" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="66" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="67" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="68" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="60" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="61" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="62" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="63" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="66" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="67" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="68" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="69" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="70" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="72" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="73" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="37" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true"
   Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="41" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="42" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="43" SemiHidden="false"
   UnhideWhenUsed="false" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="44" SemiHidden="false"
   UnhideWhenUsed="false" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="45" SemiHidden="false"
   UnhideWhenUsed="false" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="40" SemiHidden="false"
   UnhideWhenUsed="false" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="46" SemiHidden="false"
   UnhideWhenUsed="false" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="47" SemiHidden="false"
   UnhideWhenUsed="false" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="48" SemiHidden="false"
   UnhideWhenUsed="false" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:3 0 0 0 1 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{mso-style-unhide:no;
	mso-style-parent:"";
	color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
@list l0
	{mso-list-id:-227;
	mso-list-template-ids:1481909218;}
@list l0:level1
	{mso-level-number-format:bullet;
	mso-level-text:"";
	mso-level-tab-stop:0in;
	mso-level-number-position:left;
	margin-left:0in;
	text-indent:0in;
	font-family:Symbol;}
@list l0:level2
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.25in;
	font-family:Symbol;}
@list l0:level3
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	margin-left:1.25in;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l0:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:left;
	margin-left:1.75in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level5
	{mso-level-number-format:bullet;
	mso-level-text:\F0FA;
	mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	margin-left:2.25in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	margin-left:2.75in;
	text-indent:-.25in;
	font-family:Symbol;}
@list l0:level7
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	margin-left:3.25in;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l0:level8
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	margin-left:3.75in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0FA;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	margin-left:4.25in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l1
	{mso-list-id:171651803;
	mso-list-template-ids:-539820478;}
@list l1:level1
	{mso-level-start-at:2;
	mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;}
@list l1:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l1:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l1:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l1:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l2
	{mso-list-id:330987737;
	mso-list-template-ids:-453473514;}
@list l2:level1
	{mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";}
@list l2:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l2:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l2:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l2:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l3
	{mso-list-id:698317044;
	mso-list-type:hybrid;
	mso-list-template-ids:-539820478 -1872750374 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l3:level1
	{mso-level-start-at:2;
	mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;}
@list l3:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l3:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l3:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l3:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l4
	{mso-list-id:1011681916;
	mso-list-type:hybrid;
	mso-list-template-ids:841903796 1549428316 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l4:level1
	{mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;}
@list l4:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l4:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l4:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l4:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l5
	{mso-list-id:1312443365;
	mso-list-type:hybrid;
	mso-list-template-ids:-453473514 1268276308 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l5:level1
	{mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";}
@list l5:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l5:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l5:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l5:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l6
	{mso-list-id:2140105268;
	mso-list-type:hybrid;
	mso-list-template-ids:-927329306 -1230051632 67698713 67698715 67698703 67698713 67698715 67698703 67698713 67698715;}
@list l6:level1
	{mso-level-number-format:roman-upper;
	mso-level-tab-stop:.75in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.5in;
	mso-ascii-font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-hansi-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";}
@list l6:level2
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6:level3
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l6:level4
	{mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6:level5
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6:level6
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
@list l6:level7
	{mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6:level8
	{mso-level-number-format:alpha-lower;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	text-indent:-.25in;}
@list l6:level9
	{mso-level-number-format:roman-lower;
	mso-level-tab-stop:4.5in;
	mso-level-number-position:right;
	text-indent:-9.0pt;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-unhide:no;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=WordSection1>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Informed Consent for
Participants<o:p></o:p></b></p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Title of Project</b>:
Trash Talk</p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'>Investigators</b>: Palani
Eswaran (<a href="mailto:palani14@stanford.edu">palani14@stanford.edu</a>),
Alison Kohl (<a href="mailto:akohl@stanford.edu">akohl@stanford.edu</a>), Will
Han (<a href="mailto:whan1@stanford.edu">whan1@stanford.edu</a>) </p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'>I.<span
style="mso-spacerun:yes">&nbsp; </span>Purpose of this Research/Project<o:p></o:p></b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>The
purpose of the study is to observe how people watch a live sporting event while
also using our Trash Talk application. These observations will directly lead to
further development and study of the Trash Talk prototype.</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-45.0pt;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.75in;text-indent:-.75in;mso-list:l3 level1 lfo5;
tab-stops:list .25in'><![if !supportLists]><b style='mso-bidi-font-weight:normal'><span
style='mso-list:Ignore'>II.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></b><![endif]><b style='mso-bidi-font-weight:normal'>Procedures<o:p></o:p></b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>Participants
will be interviewed for approximately half an hour. They will be asked to
record videos of themselves reacting to plays throughout the game. They will
also be asked to view other users' videos and vote on them. Screenshots of the
computer as well as pictures of them using the application will be taken.</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><span
style="mso-spacerun:yes">&nbsp;</span></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><b
style='mso-bidi-font-weight:normal'>III. Extent of Anonymity and
Confidentiality<o:p></o:p></b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>The
researchers will not collect personal information beyond name and basic
demographics. Subjects are free not to answer any questions or respond to
experimental situations that they choose without penalty. </p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>At
times, information associated with the participant may be displayed on their device
and may be captured when the researchers take a screenshot. Every effort will
be made to allow the subject to avoid displaying private information. The
participant is free to hide any personal information on the device or request
that the screenshot not be taken.</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>Collected
information will be stored and maintained by the researchers listed above. The
information will not be distributed to anyone who is not involved in the
research. Anonymized quotes or clips may be used in presenting the project in
class. Should the researchers decide to release the information more publicly,
the information will be anonymized and consent will be obtained from the <span
class=GramE>participant.</span></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><b
style='mso-bidi-font-weight:normal'>IV. Compensation<o:p></o:p></b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>The
participant will be provided with a lunch voucher for their participation.</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><b
style='mso-bidi-font-weight:normal'>V. Subject's Permission<o:p></o:p></b></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>I
have read the Consent Form and conditions of this project. I have had all my
questions answered. I hereby acknowledge the above and give my voluntary
consent:</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>Signature____________________________________________
Date____________</p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'><o:p>&nbsp;</o:p></p>

<p class=MsoNormal style='margin-left:.25in;text-indent:-.25in;tab-stops:list 9.0pt'>Printed
Name________________________________________</p>

</div>

</body>

</html>
