<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - CS 247</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="404040">
<CENTER>
<H1>Welcome to Team WHAP's CS 247 Project Homepage</H1>

  <p>Check out our app <a href="http://whapproject.herokuapp.com/">Trash Talk</a></p>

 
  <img src="teamPhoto.JPG" width="600">
 

  <H4>Design Lead - Alison Kohl</H4>
  <H4>Development Lead - Palani Eswaran</H4>
  <H4>Evaluation Lead - Will Han</H4>

  <a href="prototypes">See our Storyboards</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="woz">See more on our Wizard of Oz Testing</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="progress">Prototype 1 Features/Progress</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="userstudy">User Study</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="progress2">Prototype 2 Features/Progress</a>
  &nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="consent">Consent Form for User Study 2</a>
  <br><br>
  <a href="presentation">Final Presentation Materials</a>

<H2>Brainstorming Documentation</H2>
<img src="brainstorm1.JPG" data-rotate="90" width="600" height="1000">

<img src="brainstorm2.JPG" data-rotate="90" width="600" height="900">

<H2>Three Project Ideas</H2>
</CENTER>

<p>
<b>Idea 1: TranslateMe</b><br>
This application would allow users who speak different languages to communicate with each other through video chat. Let’s say an English speaker and a Chinese speaker are talking. Whenever the English speaker says something in English, the application would then read to him/her the sentence in Chinese so that he/she could then repeat the Chinese sentence to the other user. The target users would be people who have relatives in other parts of the world or even people trying to reconnect with friends from abroad. Not only would this app facilitate communication among speakers of different language, but it would also help people learn another language.
</p>

<p>
<b>Idea 2: FanConnect</b><br>
The idea for this project is to connect sports fans. Sports is inherently a social activity - people band together to throw their support behind a team and face a common enemy. Fans want to connect with others who share their same passion for a team, but this can be really difficult as there really isn’t any common way to do this. Perhaps you don’t live in the same region as your favorite team and you don’t know any other fans in your area - we could help connect you with others who want to watch games with you. Maybe a fan wants to attend a game but has no one to go with - we could help connect them with a companion to go to the game with or even just to tailgate with beforehand. This app would also help fans connect before, during, and after games to discuss news and opinions about the team.
</p>

<p>
<b>Idea 3: StyleRate</b><br>
The idea behind this website is to allow users to rate and comment on posted pictures of other people’s style. Users can take anonymous photos of themselves (without their faces) that focus on their clothing. They can set category tags for the photo, as well as tag the clothing articles in their photo. The target  users spans nearly everyone even slightly concerned with the way their clothing looks. The general public and newbies to style can get a sense of how to improve themselves, while those experienced can share ideas with each other. Users can also receive opinions from the opposite gender. People in reality rarely receive comments on their clothing, so this website solves the communication need of getting real feedback on their style.
</p>
</html>