<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - Final Presentation</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="404040">
<CENTER>
<H1>Final Presentation Materials</H1>

<a href="/">Back to Home</a>

<br><br>

<img src="WHAP.jpg" width="800">

<br><br>

<iframe width="560" height="315" src="//www.youtube.com/embed/dfPqoe-Garw" frameborder="0" allowfullscreen></iframe>

<br><br>

<img src="trashtalk-poster.jpg" width="800">

</CENTER>