<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - Prototype 2 Features/Progress</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="WHITE">
<CENTER>
<H1>Prototype 2 Implemented Features/Progress</H1>

<a href="/">Back to Home</a>
</CENTER>

<h3>Changes</h3>
<ul>
<li>We changed the buttons so that they are better placed and easier to use. We did this because during user testing a lot of the feedback we go indicated that our buttons were difficult to use.</li>
<li>We increased the visibility of the rating because this was also a main point of feedback during testing.</li>
</ul>

<h3>New Features</h3>
<ul>
<li>Added MLB games and chatrooms for those games.</li>
<li>Now have cookies so that a user can only upvote or downvote a video once.</li>
<li>User can now view video after posting and either approve or reject it.</li>
<li>Videos now organized in two ways -- one page for displaying them chronologically, and one page for displaying them in order of ranking.</li>
</ul>

<h3>Implementation Progress/Remaining Tasks</h3>
<p> We have finished implementing most of the things that we set out to do after completing our first prototype and user testing. Here are some possible features we may add depending on time and the results of our next user test:
</p>
<ul>
<li>Sort videos by hashtags</li>
<li>Remove play button for video and have it play when user hovers over it.</li>
</ul>

<br>

<p><a href="http://whapproject.herokuapp.com/">Pointer</a> to app</p>