<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - Prototype 1 Features/Progress</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="404040">
<CENTER>
<H1>Prototype 1 Implemented Features/Progress</H1>

<a href="/">Back to Home</a>
</CENTER>

<h3> Feature Choices</h3>
<p>After conducting Wizard of Oz testing, getting feedback from users, and discussing the project as a team, we decided
to change up our project a bit. Instead of live video chatting during games, our application is now a forum for people to 
trash talk before and during a game. Users will be able to up/down vote their favorite videos, and the most popular will be
featured. Trash talk rooms will be divided up by the day's individual games.</p>

<h3>Implementation Progress</h3>
<ul>
<li>We have integrated an API that pulls all of the day's sporting events.</li>
<li>We have created separated chatrooms based on games</li>
<li>We have implemented the upvoting and downvoting functionality</li>
</ul>

<h3>Remaining Tasks</h3>
<ol>
<li>Fix posting bugs, specifically first video not posting, posting immediately after early recording, and sound</li>
<li>Have a list or section of the page with top ranked videos</li>
<li>Sort videos by hashtags</li>
<li>Figure out cookies so that a user can only vote on a video once</li>
<li>CSS/Make it look nice</li>
<li>Feature so that hovering over a video activates audio</li>
</ol>

<br>

<p><a href="http://whapproject.herokuapp.com/">Pointer</a> to app</p>