<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - CS 247 Prototypes</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="WHITE">
<CENTER>
<H1>Prototypes</H1>

<a href="/">Back to Home</a>

<br>

<H2><u>TranslateMe Storyboard</u></H2>

<img src="story1.JPG" width="800">
<br><br>

<H2><u>StyleRate Storyboard</u></H2>

<img src="story2.JPG" width="800">
<br><br>

<H2><u>FanConnect Storyboard</u></H2>

<img src="story3.JPG" width="800">
</CENTER>