<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - User Study</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="WHITE">
<CENTER>
<H1>User Study</H1>

<a href="/">Back to Home</a>
</CENTER>

<H3>Introduction</H3>

<p>
Our application allows sports fans to “talk trash” to each other via specialized chatrooms for the day’s games. They are able to both chat normally via text as well as record up to seven second long videos to post as reactions to the game. Via testing, we hope to find out more about our intended audience for the app as well as unveil technical or design flaws that need to be corrected.</p>
 
<p>As such, there are a few main questions that need to be determined about our application’s userbase. First is whether sports fans find our application useful, and whether it adds value or entertainment to watching or following a sports game. The follow-up question would be whether fans would actually use this application. We believe that the application is useful and valuable to sports fans.</p>
 
<p>The second question is to determine what demographic is the most attracted to our application. This can be broken down into a few categories (sport, age, level of commitment). We believe that the average demographic will be of a younger age and be more committed to the sport. Additionally, the sports that would be more likely to use the video feature would be those with “big plays” such as soccer goals or football touchdowns.</p>
 
<p>We also need to determine what technical or design flaws exist with our application. We already have a list of design questions that we need to ask.</p>
 
<p>First is the best way to sort top, or most liked videos. Chat may be quick and rapid fire and previous videos may move out of view quickly. We think a highest rated subsection would helpful.</p>

<p>Second is whether it would be good to have a live feed of scores in the chatroom in order to increase integration into the game. We feel it would increase the fan's feeling of integration into the game, even if they were also watching it live on TV.</p>


<H3>Methods</H3>

<p>
We are recruiting a variety of individuals for the study - individuals who claimed they would post content on a platform like this, individuals who would view content, and individuals who expressed that they would not be interested in such a service. We are doing the user tests over the course of an NBA playoff game to examine real interactions between fans during a game. All users will be using the application simultaneously in different rooms to simulate live yet remote interaction with other individuals.</p>

<p>We will be guiding users through posting video, viewing video, and upvoting and down voting. We will be recording observations and drawing conclusions based on the way users interact with the application.
</p>
