<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - User Study</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="WHITE">
<CENTER>
<H1>User Study</H1>

<a href="/">Back to Home</a>
</CENTER>

<H3>Introduction</H3>

<p>
Our application allows sports fans to “talk trash” to each other via specialized chatrooms for the day’s games. They are able to both chat normally via text as well as record up to seven second long videos to post as reactions to the game. Via testing, we hope to find out more about our intended audience for the app as well as unveil technical or design flaws that need to be corrected.</p>
 
<p>As such, there are a few main questions that need to be determined about our application’s userbase. First is whether sports fans find our application useful, and whether it adds value or entertainment to watching or following a sports game. The follow-up question would be whether fans would actually use this application. We believe that the application is useful and valuable to sports fans.</p>
 
<p>The second question is to determine what demographic is the most attracted to our application. This can be broken down into a few categories (sport, age, level of commitment). We believe that the average demographic will be of a younger age and be more committed to the sport. Additionally, the sports that would be more likely to use the video feature would be those with “big plays” such as soccer goals or football touchdowns.</p>
 
<p>We also need to determine what technical or design flaws exist with our application. We already have a list of design questions that we need to ask.</p>
 
<p>First is the best way to sort top, or most liked videos. Chat may be quick and rapid fire and previous videos may move out of view quickly. We think a highest rated subsection would helpful.</p>

<p>Second is what users think of the utility of our application. Furthermore, do they enjoy using their laptop while watching the game,
do they like the video feature, and do they like chatrooms that are separated by games.</p>


<H3>Methods</H3>

<p>
We are recruiting a variety of individuals for the study - individuals who claimed they would post content on a platform like this, individuals who would view content, and individuals who expressed that they would not be interested in such a service. We are doing the user tests over the course of an NBA playoff game to examine real interactions between fans during a game. All users will be using the application simultaneously in different rooms to simulate live yet remote interaction with other individuals.</p>

<p>We will be guiding users through posting video, viewing video, and upvoting and down voting. We will be recording observations and drawing conclusions based on the way users interact with the application.
</p>

<H3>Results</H3>

<H4>Results: Interest in Use</H4>

<ul>
<li>5 of 7 users stated that they could see themselves using the app or a similar app for NBA (but really only for their games)</li>
<li>2 users that did not were non-affiliated, and only watched occasionally, but could potentially use it for other sports</li>
<li>One user stated he could see it “blowing up”</li>
</ul>

<H4>Results: Use Behavior</H4>
<ul>
<li>Only 2 users posted often (1 Clipper, 1 Thunder)</li>
<li>4 other users posted sometimes or once to test</li>
<li>Some simply enjoyed viewing, not posting</li>
</ul>

<H4>Results: App Design Feedback</H4>
<ul>
<li>One button for record and stop record</li>
<li>Stop playing videos with the same button</li>
<li>Video rating needs to be more visible</li>
<li>Upvote/Downvote buttons need to be rehashed</li>
<li>Add live score as well as play-by-play. Play-by-play is well received</li>
<li>Need top scoring video feature (Separate top section is best)</li>
<li>None of the participants expressed a need to see yesterday’s games</li>
<li>No real need for live text chat. If used, should be in a different div</li>
<li>Need to know when video is being taken</li>
<li>Wish one could review video</li>
</ul>

<H4>Results: App Concept Feedback</H4>
<ul>
<li>Use would be contingent on funny content being produced, especially given vine-like video format</li>
<li>Implementation on phone could be better than laptop</li>
<li>Saying trash talk with face visible is “kind of weird”</li>
<li>Some were more interested in what their friends, local area, or fellow team fans had to say, not everyone</li>
<li>“Seems like Yik-Yak, but for sports”</li>
<li>Liked the concept of being sports orientated, still wish it could bring even more immersion</li>
</ul>

<H3>Discussion</H3>

<H4>What We Learned</H4>
<ul>
<li>Application would have accessible to more people if there were more sports</li>
<li>Voting feature was the most popular</li>
<li>A few button-based processes, e.g. voting and playing/pausing videos, aren’t very intuitive</li>
<li>There is no anonymity with this application - may or may not be a reason to remove video</li>
</ul>

<H4>Shortcomings in Testing</H4>
<ul>
<li>If we had included more sports, we would have been able to test more people</li>
<li>We could have tried showing users trash talk rooms for past games</li>
<li>Testing the app before and after games to see if people still used it</li>
</ul>

<H3>Implications</H3>
<ul>
<li>Need to rank videos based on votes so best content is at top</li>
<li>Add game score near play-by-play</li>
<li>Simplify controls - recording, playback, upvote/downvote</li>
<li>Increase visibility of video rating</li>
<li>Ability to watch video and approve before it gets posted</li>
<li>Use cookies to allow one upvote/downvote per user per video</li>
<li>Add more leagues</li>
</ul>