<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <TITLE>WHAP - CS 247 Wizard of Oz Testing</TITLE>
	<link rel="stylesheet" href='/stylesheets/main.css'>
    <script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
    <script src='javascript/jquery-1.11.0.min.js'></script>
    <!--<script src='javascript/MediaStreamRecorder.js'></script>
    <<script src='javascript/main.js'></script>-->
</head>
<BODY BGCOLOR="404040">
<CENTER>
<H1>Wizard of Oz Testing</H1>

<a href="/">Back to Home</a>

<br>

<p><a href="https://docs.google.com/presentation/d/1S9JlQSV1jhajcFZYsr5oA9uq0RHAQwzbl4w8jYZRGyg/edit?usp=sharing">Pointer</a> to slide deck</p>

<img src="woz1.jpg" width="800">
<img src="woz2.jpg" width="800">
<img src="woz3.jpg" width="800">
<img src="woz4.jpg" width="800">
<img src="woz5.jpg" width="800">
<img src="woz6.jpg" width="800">
<img src="woz7.jpg" width="800">
<img src="woz8.jpg" width="800">
<img src="woz9.jpg" width="800">
<img src="woz10.jpg" width="800">
<img src="woz11.jpg" width="800">

</CENTER>